body {
  background-color: #D1DEFA;
  font-family: sans-serif, Arial, Helvetica;
  text-align: center;
  padding: 0;
  margin: 0;
}

.layout {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "container container container container"
      "footer footer footer footer"
  ;
  grid-template-rows: 100px 70px auto 70px;
}

.main-container {
  grid-area: container;
}